*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 212, 203);
}

main{
    text-align: center;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.quadrado{
    width: 100px;
    height: 120px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 70px;
    color: rgb(179, 168, 168);
    background-color: rgb(179, 168, 168);
    cursor: pointer;
}

#informacoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#reiniciar{
    width: 20%;
    padding: 6px;
    background-color: rgb(154, 242, 23);
    border: none;
    border-radius: 8px;
    font-weight: 700;
}